* {
	margin:0 0 0 0;
}

h1 {
	text-align: center;
	margin: 0 0 30px 0
}

div.content {
	margin: 50px 350px 50px 350px;
}

.signature {
	padding: 30px 10px 20px 10px;
}

ul {
	margin: 30px 10px 0px 25px;
	padding: 0px 0px 0px 0px;
}

div.sub-content {
	border-top: 1px solid grey;
	padding: 30px 10px 20px 10px;
}

.subtitle {
	padding: 0px 0px 0px 0px;
}

.p-margin-top-only {
	padding: 30px 0px 0px 0px;
}

#userPhoto {
	text-align: center;
}

